:root {
    --font-family: 'Arial', serif;
    --second-family: 'Prata', serif;

    --color-primary-white: #fff;
    --color-primary-dark-dune: #d5c9be;
    --color-primary-oceanic: #405d65;


    --color-support-iron: #55565a;
    --color-support-dark-dune: #efcfad;
    --color-support-dune: #d5c9be;
    --color-support-oceanic: #38535d;

    --color-dark-10: #222222;
    --color-dark-20: #282829;
    --color-dark-20-alpha: #282829B2;

    --color-input-border: #d6d6d6;
    --color-input-text: #55565AFF;


}